option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: university_admission.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: university_admission.settings
    PYTHONPATH: /var/app/current
    ALLOWED_HOSTS: .elasticbeanstalk.com 